In [10]:
import pandas as pd
import numpy as np

class SavingsA:
    def __init__(self, sav_dataframe, im_dataframe):
        self.sav_df = sav_dataframe
        self.im_df = im_dataframe
    def sav_1(self):
        """
        :type my_dataframe: DataFrame
        :rtype: DataFrame
        """
        foo = self.sav_df[:]
        foo = foo[np.isfinite(foo["Item No"])]
        foo["Item No"] = foo["Item No"].astype(int).astype(str)
        foo['SAP+UOM'] = foo["Item No"].str.cat(foo["U O M"], sep = '-')
        foo["EA Price"] = foo["Sum of Total"]/foo[]
        return foo
    def imMergeSav_1(self):
        df_im = self.im_df.loc[:]
        df_im["OrderUoM"] = df_im["OUoM"].combine_first(df_im["BUoM"]) 
        df_im["OUoM"].fillna(df_im["BUoM"], inplace=True)
        df_im["Material Number"]=df_im["Material Number"].fillna(0).astype(float).astype(int).astype(str)
        df_im["SAP+UOM"] = df_im["Material Number"].str.cat(df_im["OUoM"], sep = '-')
        df_im["Conversion Factor"] = df_im["ConvOrder"]*df_im["PyxConvLow"]
        im_s1 = df_im['SAP+UOM']
        im_s2 = df_im["Conversion Factor"]
        df_im_Rng = pd.concat([im_s1, im_s2], axis=1)
        return pd.merge(self.sav_1(), df_im_Rng, left_on = "SAP+UOM", right_on = "SAP+UOM", how = "left")

In [11]:
xlsx_file = "SAP_Sterilization_Solutions.xlsx"
#df1=pd.read_csv(csv_file)
#Show pd.read_csv details
#help(pd.read_csv)
#help(pd.read_excel)
df_sav = pd.read_excel(xlsx_file, sheetname="Savings")
df_im = pd.read_excel(xlsx_file, sheetname="IM")

a = SavingsA(df_sav, df_im)
print(a.imMergeSav_1())

  Manufacturer Name Manufacturer Part No  \
0         J & J ASP              AS20390
1            METREX              10-6000
2            METREX              10-6000
3            METREX               10-602

                                  Last Desc  \
0     SOLUTION DISINFECT CIDEX OPA 1 GALLON
1  DISINFECTANT OPA + MTRCD 1GL INST RTU HI
2          SOLUTION METRICIDE OPA PLUS 4/CS
3          STRIP DSINF TST MTRCD OPA + MNTR

                          Vendor Name Vendor Mat Number U O M Item No  \
0  MEDLINE INDUSTRIES (OFF-SITE ONLY)         J-J20390H   GLL   24060
1              MEDLINE INDUSTRIES INC         MAP106000    CS   10234
2           HENRY SCHEIN INCORPORATED           6408231    CS   24064
3              MEDLINE INDUSTRIES INC          MAP10602    CS   19066

   Last Price  Sum of Qty Paid  Sum of Total    SAP+UOM  Conversion Factor
0       66.71               16       1067.36  24060-GLL                  1
1       80.00               37       2960.00   10234-CS                  4
2      193.96                2        387.92   24064-CS                  1
3       82.45               22       1813.90   19066-CS                  2

In [5]:
"""
def sav_1(df):
    foo = df[:]
    
    foo = foo[np.isfinite(df['Item No'])]
    #df_sav["Item No"] = df_sav["Item No"].fillna(0).astype(float).astype(int).astype(str)
    foo["Item No"] = foo["Item No"].astype(float).astype(int).astype(str)
    foo["SAP+UOM"] = foo["Item No"].str.cat(foo["U O M"], sep = '-')
    return foo
sav_1(df_sav)
"""

'\ndef sav_1(df):\n    foo = df[:]\n    \n    foo = foo[np.isfinite(df[\'Item No\'])]\n    #df_sav["Item No"] = df_sav["Item No"].fillna(0).astype(float).astype(int).astype(str)\n    foo["Item No"] = foo["Item No"].astype(float).astype(int).astype(str)\n    foo["SAP+UOM"] = foo["Item No"].str.cat(foo["U O M"], sep = \'-\')\n    return foo\nsav_1(df_sav)\n'

In [8]:
df = pd.DataFrame(np.random.randn(4, 2)*3, columns=['a', 'b'])
df.style.format("{:.2}")
df['c'] = ['a', 'b', 'c', 'd']
df.style.format({'C': str.upper})

In [137]:
def im(df):
    df_im = df.loc[:]
    df_im["OrderUoM"] = df_im["OUoM"].combine_first(df_im["BUoM"]) 
    df_im["OUoM"].fillna(df_im["BUoM"], inplace=True)
    df_im["Material Number"]=df_im["Material Number"].fillna(0).astype(float).astype(int).astype(str)
    df_im["SAP+UOM"] = df_im["Material Number"].str.cat(df_im["OUoM"], sep = '-')
    #type(df_im["Material Number"])
    df_im["Conversion Factor"] = df_im["ConvOrder"]*df_im["PyxConvLow"]
    im_s1 = df_im['SAP+UOM']
    im_s2 = df_im["Conversion Factor"]
    df_im_Rng = pd.concat([im_s1, im_s2], axis=1)
    return df_im_Rng
im(df_im)

     SAP+UOM  Conversion Factor
0   10234-CS                  4
1   19066-CS                  2
2  24060-GLL                  1
3   24064-CS                  1
4  27359-GLL                  1
5   47606-EA                  1

In [ ]:
# Sav_1
#df1['Item No'].fillna(0)
df_sav["Item No"] = df_sav["Item No"].fillna(0).astype(float).astype(int).astype(str)
#df_sav["Item No"]

#ser = pd.Series([1,2], dtype = 'int64')
#ser.astype('str')
#df_sav["Manufacturer Part No"]
df_sav["SAP+UOM"] = df_sav["Item No"].str.cat(df_sav["U O M"], sep = '-')


# IM_Macro VBA:
df_im.head()
#df_im.dtypes
df_im["OrderUoM"] = df_im["OUoM"].combine_first(df_im["BUoM"]) 

df_im["OUoM"].fillna(df_im["BUoM"], inplace=True)
df_im["Material Number"]=df_im["Material Number"].fillna(0).astype(float).astype(int).astype(str)
df_im["SAP+UOM"] = df_im["Material Number"].str.cat(df_im["OUoM"], sep = '-')
type(df_im["Material Number"])
df_im["Conversion Factor"] = df_im["ConvOrder"]*df_im["PyxConvLow"]
df_im

im_s1 = df_im['SAP+UOM']
im_s2 = df_im["Conversion Factor"] 
df_im_Rng = pd.concat([im_s1, im_s2], axis=1)
df_sav = pd.merge(df_sav, df_im_Rng, left_on = 'SAP+UOM', right_on = 'SAP+UOM', how='left')

df_sav.dtypes

In [89]:
dfc = pd.DataFrame({'A':['aaa','bbb','ccc'],'B':[1,2,3]})

In [90]:
dfc

     A  B
0  aaa  1
1  bbb  2
2  ccc  3

In [91]:
dfc.loc[0,'A'] = 11

In [94]:
dfc.loc[:]

     A  B
0   11  1
1  bbb  2
2  ccc  3