# Pandas 0.20.3 documentation 
<a href = 'http://pandas.pydata.org/pandas-docs/stable/io.html#basic'>Click here for details ...</a>

http://jupyter.readthedocs.io/en/latest/running.html

http://pandas.pydata.org/pandas-docs/stable/io.html#basic

In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/GuoRubing/Google Drive/Python/uams_reports_test/sap_test.csv")

In [18]:
df.head()

,PO Number,PO Line,Cont Ind,Contract,Cont Type,Invoice Date,Invoice No,Vendor Reference,Date PO Created,Total Cost per Line,...,Manufacturer Name,UNSPSC code,UNSPSC Desc,Purch Gp,Buyer Name,Case No,SQ Cart No,Req No,Req Line,PO Unit Price
0,4.500134e+09,300.0,NaN,NONC1500-M,NaN,1/22/2016,5.109316e+09,1.093508e+09,1/19/2016,260.81,...,MEDLINE INDUSTRIES INC,42182201.0,ELECTRONIC MEDICAL THERMOMETERS,WB,Janice Carter,NaN,NaN,12101312.0,10.0,260.81
1,4.500134e+09,3.0,NaN,NaN,NaN,1/21/2016,5.109316e+09,5.109316e+09,1/19/2016,34.20,...,FISHER HEALTHCARE,41112220.0,LABORATORY FREEZER OR REFRIGERATOR THERMOMETERS,WB,Janice Carter,NaN,NaN,12101192.0,10.0,5.70
2,4.500134e+09,1.0,NaN,NaN,NaN,2/2/2016,5.109324e+09,5.109324e+09,1/27/2016,5.70,...,FISHER HEALTHCARE,41112220.0,LABORATORY FREEZER OR REFRIGERATOR THERMOMETERS,WB,Janice Carter,NaN,NaN,12105105.0,10.0,5.70
3,4.500135e+09,285.0,NaN,NONC1500-M,NaN,2/23/2016,5.109339e+09,1.094749e+09,2/16/2016,260.81,...,MEDLINE INDUSTRIES INC,42182201.0,ELECTRONIC MEDICAL THERMOMETERS,WB,Janice Carter,NaN,NaN,12114089.0,10.0,260.81
4,4.500135e+09,2.0,NaN,NONC1500-M,NaN,2/29/2016,5.109344e+09,1.094976e+09,2/26/2016,22.32,...,MEDLINE INDUSTRIES INC,42182201.0,ELECTRONIC MEDICAL THERMOMETERS,LB,LUM Buyer,NaN,NaN,12119375.0,26.0,1.86

In [25]:
len(df.index) # sum total row Number

33

In [26]:
df.tail(1) #last row as df

,PO Number,PO Line,Cont Ind,Contract,Cont Type,Invoice Date,Invoice No,Vendor Reference,Date PO Created,Total Cost per Line,...,Manufacturer Name,UNSPSC code,UNSPSC Desc,Purch Gp,Buyer Name,Case No,SQ Cart No,Req No,Req Line,PO Unit Price
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"5,147.42",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_sap = df[df['Qty Paid'] != 0]

In [29]:


# Last Tab 
s1 = df_sap['Manufacturer Part No']
s2 = df_sap['U O M']
df_sap['MPN-UOM'] = s1.str.cat(s2, sep = '-')

s3 = df_sap['MPN-UOM']
s4 = df_sap['Date PO Created']
s5 = df_sap['Description']
s6 = df_sap['Unit Price less Dist Fee']
pd.concat([s3, s4, s5, s6], axis=1).head()

,MPN-UOM,Date PO Created,Description,Unit Price less Dist Fee
0,MDS9950-CS,1/19/2016,THERMOMETER ORAL ELEC DGTL SCALE 144/CS,256.32
1,13-201-966-EA,1/19/2016,THERMOMETER 15105S FRZ-GUIDE -40 TO +80,5.70
2,13-201-966-EA,1/27/2016,THERMOMETER 15105S FRZ-GUIDE -40 TO +80,5.70
3,MDS9950-CS,2/16/2016,THERMOMETER ORAL ELEC DGTL SCALE 144/CS,256.32
4,MDS9950-EA,2/26/2016,THERMOMETER ORAL ELEC DGTL SCALE,1.83

In [32]:
#df_SAP['Manufacturer Part No'] +'--'+ df_SAP['U O M']

In [34]:

s1 = df_SAP['Manufacturer Part No']
s2 = df_SAP['U O M']
pd.concat([s1, s2], axis=1).head()
df_SAP['MPN-UOM'] = s1.str.cat(s2, sep = '-')

# Series Concatenate
#pd.concat([s1, s2], axis=1)

In [35]:
'+'.join(['a', 'b'])

'a+b'

In [36]:
#Series(['a', 'b', 'c']).str.cat(['A', 'B', 'C'], sep=',')
s1.str.cat(s2, sep = '-').head()

0       MDS9950-CS
1    13-201-966-EA
2    13-201-966-EA
3       MDS9950-CS
4       MDS9950-EA
Name: Manufacturer Part No, dtype: object

In [37]:
df_SAP.head()

,PO Number,PO Line,Cont Ind,Contract,Cont Type,Invoice Date,Invoice No,Vendor Reference,Date PO Created,Total Cost per Line,...,UNSPSC code,UNSPSC Desc,Purch Gp,Buyer Name,Case No,SQ Cart No,Req No,Req Line,PO Unit Price,MPN-UOM
0,4.500134e+09,300.0,NaN,NONC1500-M,NaN,1/22/2016,5.109316e+09,1.093508e+09,1/19/2016,260.81,...,42182201.0,ELECTRONIC MEDICAL THERMOMETERS,WB,Janice Carter,NaN,NaN,12101312.0,10.0,260.81,MDS9950-CS
1,4.500134e+09,3.0,NaN,NaN,NaN,1/21/2016,5.109316e+09,5.109316e+09,1/19/2016,34.20,...,41112220.0,LABORATORY FREEZER OR REFRIGERATOR THERMOMETERS,WB,Janice Carter,NaN,NaN,12101192.0,10.0,5.70,13-201-966-EA
2,4.500134e+09,1.0,NaN,NaN,NaN,2/2/2016,5.109324e+09,5.109324e+09,1/27/2016,5.70,...,41112220.0,LABORATORY FREEZER OR REFRIGERATOR THERMOMETERS,WB,Janice Carter,NaN,NaN,12105105.0,10.0,5.70,13-201-966-EA
3,4.500135e+09,285.0,NaN,NONC1500-M,NaN,2/23/2016,5.109339e+09,1.094749e+09,2/16/2016,260.81,...,42182201.0,ELECTRONIC MEDICAL THERMOMETERS,WB,Janice Carter,NaN,NaN,12114089.0,10.0,260.81,MDS9950-CS
4,4.500135e+09,2.0,NaN,NONC1500-M,NaN,2/29/2016,5.109344e+09,1.094976e+09,2/26/2016,22.32,...,42182201.0,ELECTRONIC MEDICAL THERMOMETERS,LB,LUM Buyer,NaN,NaN,12119375.0,26.0,1.86,MDS9950-EA

In [38]:
df_SAP.ix[:,0:2].head()

      PO Number  PO Line
0  4.500134e+09    300.0
1  4.500134e+09      3.0
2  4.500134e+09      1.0
3  4.500135e+09    285.0
4  4.500135e+09      2.0

In [39]:
# Last Tab 
s1 = df_SAP['Manufacturer Part No']
s2 = df_SAP['U O M']
s3 = df_SAP['MPN-UOM']
s4 = df_SAP['Date PO Created']
s5 = df_SAP['Description']
s6 = df_SAP['Unit Price less Dist Fee']
pd.concat([s3, s4, s5, s6], axis=1).head()
df_last = pd.concat([s3, s4, s5, s6], axis=1).head()
df_last = df_last.sort_values(['Date PO Created', 'MPN-UOM'],ascending = [0,1])
df_last

,MPN-UOM,Date PO Created,Description,Unit Price less Dist Fee
4,MDS9950-EA,2/26/2016,THERMOMETER ORAL ELEC DGTL SCALE,1.83
3,MDS9950-CS,2/16/2016,THERMOMETER ORAL ELEC DGTL SCALE 144/CS,256.32
2,13-201-966-EA,1/27/2016,THERMOMETER 15105S FRZ-GUIDE -40 TO +80,5.70
1,13-201-966-EA,1/19/2016,THERMOMETER 15105S FRZ-GUIDE -40 TO +80,5.70
0,MDS9950-CS,1/19/2016,THERMOMETER ORAL ELEC DGTL SCALE 144/CS,256.32

In [40]:
df_last.drop_duplicates(subset = ['MPN-UOM'], keep = 'first')

,MPN-UOM,Date PO Created,Description,Unit Price less Dist Fee
4,MDS9950-EA,2/26/2016,THERMOMETER ORAL ELEC DGTL SCALE,1.83
3,MDS9950-CS,2/16/2016,THERMOMETER ORAL ELEC DGTL SCALE 144/CS,256.32
2,13-201-966-EA,1/27/2016,THERMOMETER 15105S FRZ-GUIDE -40 TO +80,5.70

In [48]:
df_sum = pd.merge(df_SAP, df_last, left_on = 'MPN-UOM', right_on = 'MPN-UOM', how='left')
df_sum.columns

Index([u'PO Number', u'PO Line', u'Cont Ind', u'Contract', u'Cont Type',
       u'Invoice Date', u'Invoice No', u'Vendor Reference',
       u'Date PO Created_x', u'Total Cost per Line', u'Freight Amt',
       u'Unit Price', u'Unit Price less Dist Fee_x', u'Dist Fee %',
       u'Dist Fee Amt', u'Qty Paid', u'MatGrp', u'U O M',
       u'Material Group Desc', u'Item No', u'Stock', u'Description_x',
       u'GL Acct', u'GL Acct Desc', u'Fund', u'Fund Ctr', u'Fund Ctr Desc',
       u'Div Node', u'Division Desc', u'Dept Node', u'Department Desc',
       u'Sub-Dept', u'Sub-Dept Desc', u'Cost Ctr', u'Recipient',
       u'Unloading Pt', u'WBS Element', u'Vendor No', u'Vendor Name',
       u'Vendor Mat Number', u'Manufacturer Part No', u'Manufacturer',
       u'Manufacturer Name', u'UNSPSC code', u'UNSPSC Desc', u'Purch Gp',
       u'Buyer Name', u'Case No', u'SQ Cart No', u'Req No', u'Req Line',
       u'PO Unit Price', u'MPN-UOM', u'Date PO Created_y', u'Description_y',
       u'Unit Price less Dist Fee_y'],
      dtype='object')

In [68]:
df_sum.groupby(['Manufacturer Name', 'MPN-UOM', 'Vendor Mat Number', 'U O M', 'Unit Price less Dist Fee_y'])[['Qty Paid','Unit Price less Dist Fee_y']].sum()
#df_sum.groupby(['Manufacturer Name'])[['Qty Paid']].sum()

,,,,Qty Paid,Unit Price less Dist Fee_y
MPN-UOM,Vendor Mat Number,U O M,Unit Price less Dist Fee_y,,
13-201-966-EA,13-201-966,EA,5.70,18.0,34.20
MDS9950-CS,MDS9950,CS,256.32,4.0,1025.28
MDS9950-EA,MDS9950H,EA,1.83,250.0,49.41

In [66]:
df_sum.dtypes

PO Number                     float64
PO Line                       float64
Cont Ind                       object
Contract                       object
Cont Type                      object
Invoice Date                   object
Invoice No                    float64
Vendor Reference              float64
Date PO Created_x              object
Total Cost per Line            object
Freight Amt                   float64
Unit Price                    float64
Unit Price less Dist Fee_x    float64
Dist Fee %                    float64
Dist Fee Amt                  float64
Qty Paid                      float64
MatGrp                         object
U O M                          object
Material Group Desc            object
Item No                       float64
Stock                          object
Description_x                  object
GL Acct                       float64
GL Acct Desc                   object
Fund                          float64
Fund Ctr                      float64
Fund Ctr Desc                  object
Div Node                       object
Division Desc                  object
Dept Node                      object
Department Desc                object
Sub-Dept                       object
Sub-Dept Desc                  object
Cost Ctr                      float64
Recipient                      object
Unloading Pt                   object
WBS Element                   float64
Vendor No                     float64
Vendor Name                    object
Vendor Mat Number              object
Manufacturer Part No           object
Manufacturer                  float64
Manufacturer Name              object
UNSPSC code                   float64
UNSPSC Desc                    object
Purch Gp                       object
Buyer Name                     object
Case No                       float64
SQ Cart No                    float64
Req No                        float64
Req Line                      float64
PO Unit Price                 float64
MPN-UOM                        object
Date PO Created_y              object
Description_y                  object
Unit Price less Dist Fee_y    float64
dtype: object

In [170]:
df3 = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])

In [171]:
df3

          a         b         c         d         e
0 -1.299143  2.268889 -0.480602 -0.275277  0.038287
1 -1.081656 -0.413782 -0.022104  0.416602 -0.548919
2 -0.807311 -0.818453 -1.906613 -0.390310 -0.723852
3  1.695810 -1.074022 -0.754306 -0.915000 -0.012793
4 -0.929404  1.415696  1.794740 -0.118777 -0.176110
5  0.711798 -1.260145  0.023965 -0.609081 -2.117910
6 -0.780523  0.436188 -1.294992 -1.589001  0.763984
7  1.968692 -1.809733 -0.411487  0.521441 -0.468095
8 -1.104553 -0.308282 -1.134508 -0.216585 -0.538495
9 -0.187438 -0.735028  0.497043 -0.473841 -0.488194

In [77]:
Series(['a', 'b', 'c']).str.cat(sep=',')

'a,b,c'

In [75]:
from pandas import Series

In [76]:
Series(['a', 'b', 'c']).str.cat(sep=',')

'a,b,c'

In [22]:
timeit df.shape

The slowest run took 19.12 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 911 ns per loop

In [23]:
timeit df.index

The slowest run took 150.72 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 3: 75.8 ns per loop

In [26]:
df.count(0)

Unit Price                  28
Unit Price less Dist Fee    28
Dist Fee %                  28
Dist Fee Amt                28
Qty Paid                    28
MatGrp                      28
U O M                       28
Unnamed: 7                   0
Unnamed: 8                   0
Unnamed: 9                   1
Unnamed: 10                  1
dtype: int64

In [27]:
df.index

RangeIndex(start=0, stop=29, step=1)

In [28]:
len(df.columns)

11

In [29]:
df.columns

Index([u'Unit Price', u'Unit Price less Dist Fee', u'Dist Fee %',
       u'Dist Fee Amt', u'Qty Paid', u'MatGrp', u'U O M', u'Unnamed: 7',
       u'Unnamed: 8', u'Unnamed: 9', u'Unnamed: 10'],
      dtype='object')

## HINT: ##
How to get row count:? Most efficient way!?

__https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe__

In [24]:
df[3:5]

,Unit Price,Unit Price less Dist Fee,Dist Fee %,Dist Fee Amt,Qty Paid,MatGrp,U O M
3,4.71,4.63,0.0175,0.08,4,H29,EA
4,24.35,23.93,0.0175,0.42,1,H17,CS

In [25]:
df.loc[1]

Unit Price                    4.71
Unit Price less Dist Fee      4.63
Dist Fee %                  0.0175
Dist Fee Amt                  0.08
Qty Paid                         8
MatGrp                         H29
U O M                           EA
Name: 1, dtype: object

In [26]:
df.iloc[1]

Unit Price                    4.71
Unit Price less Dist Fee      4.63
Dist Fee %                  0.0175
Dist Fee Amt                  0.08
Qty Paid                         8
MatGrp                         H29
U O M                           EA
Name: 1, dtype: object

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 7 columns):
Unit Price                  28 non-null float64
Unit Price less Dist Fee    28 non-null float64
Dist Fee %                  28 non-null float64
Dist Fee Amt                28 non-null float64
Qty Paid                    28 non-null int64
MatGrp                      28 non-null object
U O M                       28 non-null object
dtypes: float64(4), int64(1), object(2)
memory usage: 1.6+ KB

In [29]:
np.random.randn(3,3)

array([[-0.5472924 ,  1.08422219,  0.01953574],
       [-0.64524308, -0.3072253 ,  2.13017443],
       [ 0.27041088, -0.58103745, -0.65473917]])

In [32]:
pd.set_option('display.width', 80) # default is 80

In [34]:
df.head()

,Unit Price,Unit Price less Dist Fee,Dist Fee %,Dist Fee Amt,Qty Paid,MatGrp,U O M
0,24.35,23.93,0.0175,0.42,1,H17,CS
1,4.71,4.63,0.0175,0.08,8,H29,EA
2,4.71,4.63,0.0175,0.08,2,H29,EA
3,4.71,4.63,0.0175,0.08,4,H29,EA
4,24.35,23.93,0.0175,0.42,1,H17,CS

In [3]:
left = pd.DataFrame({'key': ['cam', 'heath', 'jason', 'cam'], 'v1': [10, 11, 12, 2]})

In [4]:
left

     key  v1
0    cam  10
1  heath  11
2  jason  12
3    cam   2

In [7]:
right = pd.DataFrame({'key': ['cam', 'heath', 'jason'], 'v1': [20, 30, 44]})
right

     key  v1
0    cam  20
1  heath  30
2  jason  44

In [11]:
import pandas as pd
rev_df = pd.merge(left, right, left_on = 'key', right_on = 'key', how='left')
rev_df

     key  v1_x  v1_y
0    cam    10    20
1  heath    11    30
2  jason    12    44
3    cam     2    20

In [15]:
rev_df.groupby(['key']).sum()

       v1_x  v1_y
key
cam      12    40
heath    11    30
jason    12    44

In [41]:
data = 'col1,col2,col3\na,b,1\na,b,2\nc,d,3'

In [53]:
from StringIO import StringIO # for Python 2

In [54]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [83]:
df2 = pd.read_csv("C:/Users/GuoRubing/Google Drive/Python/uams_reports_test/SAP.csv")

In [84]:
df2.head()

,PO Number,PO Line,Cont Ind,Contract,Cont Type,Invoice Date,Invoice No,Vendor Reference,Date PO Created,Total Cost per Line,...,Manufacturer Name,UNSPSC code,UNSPSC Desc,Purch Gp,Buyer Name,Case No,SQ Cart No,Req No,Req Line,PO Unit Price
0,4500133194,40.0,X,MS25276,AROK,1/7/2016,5.109306e+09,1.092907e+09,1/4/2016,957.12,...,MEDLINE INDUSTRIES INC,42181605.0,BLOOD PRESSURE CUFF OR BLADDER,WB,Janice Carter,NaN,NaN,12094108.0,10.0,9.97
1,4500133194,41.0,X,MS25276,AROK,1/7/2016,5.109306e+09,1.092907e+09,1/4/2016,158.73,...,MEDLINE INDUSTRIES INC,42181605.0,BLOOD PRESSURE CUFF OR BLADDER,WB,Janice Carter,NaN,NaN,12094109.0,10.0,12.21
2,4500133245,35.0,X,MS25276,AROK,1/8/2016,5.109307e+09,1.092964e+09,1/5/2016,608.17,...,MEDLINE INDUSTRIES INC,42181605.0,BLOOD PRESSURE CUFF OR BLADDER,WB,Janice Carter,NaN,NaN,12094837.0,10.0,9.97
3,4500133245,36.0,X,MS25276,AROK,1/8/2016,5.109307e+09,1.092964e+09,1/5/2016,451.77,...,MEDLINE INDUSTRIES INC,42181605.0,BLOOD PRESSURE CUFF OR BLADDER,WB,Janice Carter,NaN,NaN,12094838.0,10.0,12.21
4,4500133297,28.0,X,MS25276,AROK,1/7/2016,5.109307e+09,1.092907e+09,1/6/2016,827.51,...,MEDLINE INDUSTRIES INC,42181605.0,BLOOD PRESSURE CUFF OR BLADDER,WB,Janice Carter,NaN,NaN,12095469.0,10.0,9.97

In [85]:
len(df2.index)

3210

RangeIndex(start=0, stop=3210, step=1)